
<div class="col-12 traductor-col d-flex justify-content-center align-items-center vh-100">

    <div class="card col-lg-6 px-0">
        <div class="card-header">
            <h1 class="h5">Traductor Alfa a numerico</h1>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-md-6">
                    <h4 class="card-title h5 text-primary">Tu texto natural:</h4>
                    <textarea class="form-control" rows="8" [(ngModel)]="textoBase" name="textoBas" placeholder="Escribe algo"></textarea>
                </div>
                <div class="col-12 col-md-6 mt-3 mt-md-0">
                    <h4 class="card-title h5 text-success">Tu texto numerico:</h4>
                    <textarea #textoTrad class="form-control" rows="8" name="textoTrad">{{ textoBase | traductor }}</textarea>
                </div>
            </div>
        </div>
        <div class="card-footer text-right">
            <p>Creado por <a href="https://chemaalfonso.com" target="_blank" class="text-warning">Chema Alfonso</a></p>
        </div>
    </div>

</div>
