.traductor-col {
  background-color: #0c2027;
  width: 100vw;
  min-height: 100vh;
}

.traductor-col .card {
  border: none;
}

.traductor-col .card-header {
  background-color: #0c2027;
  color: #fff;
  border-bottom: 1px solid #f09e0a;
}

.traductor-col .card-footer,
.traductor-col .card-body  {
  background-color: #0c2027;
  color: #fff;
}

.traductor-col .card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0;
}


.subtitle-wrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: .3rem;

  & > button {
    background-color: transparent;
    color: #f09e0a;
    border: none;
    font-size: 1.2rem;

    &:hover {
      color: #fff;
    }

    &:focus {
      outline: 3px auto #f09e0a;
    }
  }
}

.social-icons {
  display: flex;
  justify-content: flex-start;
  padding-bottom: .3rem;

  &  button {
    background-color: transparent;
    color: #f09e0a;
    border: none;
    font-size: 1.2rem;

    &:hover {
      color: #fff;
    }

    &:focus {
      outline: 3px auto #f09e0a;
    }
  }
}
